<h2>detail livre</h2>

<div class="container">
  <div class="card" style="width: 18rem">
    <img src="https://picsum.photos/200/300" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">id livre : {{ livreDetail }}</li>
      <li class="list-group-item">titre :</li>
      <li class="list-group-item">couverture :</li>
      <li class="list-group-item">commentaires :</li>

      @if (auteurLivre) {
      <li class="list-group-item">id auteur :</li>
      <li class="list-group-item">prenom :</li>
      <li class="list-group-item">nom :</li>
      }
    </ul>
    @if(isAdmin) {
    <button class="btnSupp" type="submit">supprimer</button>
    <button class="btnAdd" type="submit" routerLink="/livreUpdate">
      modifier
    </button>
    }
  </div>
</div>
